<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,100|Roboto+Condensed:700" rel="stylesheet" type="text/css">
    <title></title>
</head>
<body class="is-loading">
    <div id="preloader">
        <div class="txt">
            <p class="txt-perc">0%</p>
            <div class="progress"><span></span></div>
        </div>
    </div>
    <div id="intro" class="header-container">
        <div class="bcg"></div>
        <header class="wrapper">
            <h1 class="title">Every purchase matters</h1>
            <p>Quality Products. Improve Lives. Protecting the Environment.</p>
        </header>
        <span class="scroll-hint"><i class="fa fa-arrow-circle-down fa-4x"></i></span>
    </div>
    <nav>
        <ul>
            <li><a href="#intro"><span class="nav-dot"></span><span class="nav-label">Intro</span></a> </li>
            <li><a href="#slide01"><span class="nav-dot"></span><span class="nav-label">About Fairtrade</span></a> </li>
            <li><a href="#slide02"><span class="nav-dot"></span><span class="nav-label">Mission</span></a> </li>
            <li><a href="#slide03"><span class="nav-dot"></span><span class="nav-label">Contact Us</span></a> </li>
        </ul>
    </nav>
    <div id="main" class="main-container">
        <article id="cb01" class="content-block">
            <div class="wrapper">
                <header class="slideInUp">
                    <h1>ABOUT FAIR TRADE USA</h1>
                </header>
                <section>
                    <p class="slideInUp slideInUp2">Fair Trade USA is the leading
                        third-party certifier of Fair Trade products in the United States.</p>
                </section>
            </div>
        </article>
        <article id="slide01" class="slide">
            <div class="bcg"></div>
            <div class="wrapper">
                <header class="slideInUp">
                    <h1>What is fair trade?</h1>
                </header>
                <section>
                    <p class="slideInUp slideInUp2">Fair Trade Certified products were made with respect to people and planet.</p>
                </section>
            </div>
        </article>
        <article id="cb02" class="content-block">
            <div class="wrapper">
                <div class="cb02-text">
                    <header class="slideInUp">
                        <h1>GET INVOLVED</h1>
                    </header>
                    <section>
                        <p class="slideInUp slideInUp2">We have a dynamic online community with many opportunities to interact with Fair Trade USA and other Fair Trade supporters in real time. </p>
                    </section>
                </div>
                <div class="cb02-image-container">
                    <figure class="cb02-image">
                        <img id="cb02-icon01" src=<%= require("./images/iconimage01.png") %> />
                                     
                        <figcaption id="cb02-text01">Fairness</figcaption>
                    </figure>
                    <figure class="cb02-image">
                        <img id="cb02-icon02" src=<%= require("./images/iconimage02.png") %> />
                       <figcaption id="cb02-text02">Sustainability</figcaption>
                    </figure>
                    <figure class="cb02-image">
                        <img id="cb02-icon03" src=<%= require("./images/iconimage03.png") %> />
                        <figcaption id="cb02-text03">Empowerment</figcaption>
                    </figure>
                </div>
            </div>
        </article>
        <article id="slide02" class="slide">
            <div class="bcg"></div>
            <div class="wrapper">
                <header class="slideInUp">
                    <h1>Our values</h1>
                </header>
                <section>
                    <p class="slideInUp slideInUp2">We believe in empowerment and freedom of choice as means to a better world. </p>
                </section>
            </div>
        </article>

        <article id="cb03" class="content-block">
            <div class="wrapper">
                <header class="slideInUp">
                    <h1>Who we are</h1>
                    <section>
                        <p class="slideInUp slideInUp2">Fair Trade USA educates consumers, brings new manufacturers and retailers into the Fair Trade system.</p>
                    </section>
                </header>
            </div>
        </article>
        <article id="slide03" class="slide">
            <div class="bcg"></div>
            <div class="wrapper">
                <header class="slideInUp">
                    <h1>Contact Us</h1>
                </header>
                <section>
                    <p class="slideInUp slideInUp2">
                        1500 Broadway, Suite 400
                        Oakland, CA 94612
                    </p>
                </section>
            </div>
        </article>

    </div>
    <div class="footer-container">
        <footer class="wrapper">
            <h3>Every purchase matters</h3>
        </footer>
    </div>
    <!--  script files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
</body>
</html>