/* Font Import */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,700italic,700);
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 32px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #592C12;
}

h2 {
    font-size: large;
}

a {
    color:#4f9392;
}

/* Form Controls */
.form-control {
    height:42px;
}

/* Buttons */
.btn {
    color: #6c6c7d;
    background: #ecedef;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 3px #999999;
    -moz-box-shadow: 1px 1px 3px #999999;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
}

.btn:hover {
    background: #d6d6d9;
    text-decoration: none;
}

.btn-primary {
    background-color: #eb415e;
    border-color: #eb415e;
    color:#fff;
}
.btn-primary:hover {
    background-color:#A5172F;
    border-color:#A5172F;
    color:#fff;
}
.btn-success {
    background-color:#4f9392;
    border-color:#4f9392;
    color:#fff;
}
.btn-success:hover {
    background-color:#46464e;
    border-color:#46464e;
    color:#fff;
}
.btn-info {
    background-color:#6C6C7D;
    border-color:#6C6C7D;
    color:#fff;
}
.btn-info:hover {
    background-color:#46464e;
    border-color:#46464e;
    color:#fff;
}
.btn-warning {
    background-color:#947E4E;
    border-color:#947E4E;
    color:#fff;
}
.btn-warning:hover {
    background-color:#46464e;
    border-color:#46464e;
    color:#fff;
}
.btn-danger {
    background-color:#A5172F;
    border-color:#A5172F;
    color:#fff;
}
.btn-danger:hover {
    background-color:#46464e;
    border-color:#46464e;
    color:#fff;
}

.jumbotron {
    background: #fcf8e3;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.top-nav-bar {
    background: #EB415E;
    padding: 8px 0;
    color: #fff;
}

.top-nav-bar a {
    color: #fff;
}

.store-user-links a {
    border-left: 1px solid rgba(255, 255, 255, 0.52);
    padding:0 4px;
}
.store-user-links a:first-child {
    border-left:none;
}

/* main store navar */
.main-nav-wrapper {
    background: #EB415E;
    color: #fff;
}
.navbar-default {
    background:#fff;
    border: none;
}
.topnav .container {
    padding:0;
}
.logo {
    padding:12px 0;
}
.navbar-default .navbar-toggle {
    float:left;
    border-color: #fff;
    border-radius: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff;
}
a.header-phone-icon {
    color:#fff;
}
.header-phone-number {
    float: right;
    width: 40px;
    height: 50px;
    padding-top: 18px;
    border-left: 1px solid #fff;
    text-align: center;
}
.search-form {
    float:left;
    max-width:200px;
    padding-top: 11px;
}
.search-box {
    border-radius:0;
    height:30px;
    float:left;
    width: 77%;
}
.search-button {
    float:left;
    width: 19%;
    padding:4px 0;
    border-radius:0;
    background: #bea0a0;
    color: #fff;
    border-color: #bea0a0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background:transparent;
    font-weight:Bold;
    color: #fff;
}
.navbar {
    margin-bottom:0;
    border-bottom: 1px solid #ECEDEF;
}
.navbar-default .navbar-nav > li > a {
    color:#fff;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    border-color:#ccc;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color:#fff;
}

.main-content-wrapper {
    min-height:300px;
}

.home-category-links {
    padding: 32px 0;
}

/* Footer */
.footer-wrapper {
    background:#4f3f40;
    padding: 45px 0;
    color:#bea0a0;
}

.footer-wrapper a {
    color: #bea0a0;
}
ul.footer-menu {
    list-style:none;
    padding:0;
    margin:0;
    margin-bottom:32px;
    line-height:22px;
}
.payment-methods img {
    max-width:60px;
}
.footer-menu li {
    font-size:12px;
}
li.footer-heading {
    font-weight:bold;
    margin-bottom:24px;
    font-size: 14px;
}

/* About Us */
.home-about-us {
    background: #ecedef url(./images/scallop-top.jpg) repeat-x top left;
    padding:32px 0;
    color:#6C6C7D;
    padding-bottoM: 0;
}
.scallop-bottom {
    background: url(./images/scallop-bottom.jpg) repeat-x bottom left;
    height:32px;
}

/* Instagram Reel Placeholder*/
.home-instagram-reel {
    padding:32px 0;
}
h2.pink-heading {
    color: #EB415E;
}
.seafoam-green {
    color: #3F8585;
}
.instagram-reel p {
    background:#efefef;
    width: 175px;
    height: 175px;
    margin:0 auto;
    margin-bottom:8px;
}

/* Everything bigger than mobile*/

@media (min-width: 768px) {
    .top-nav-bar {
        background: #EB415E;
        padding: 6px 0;
        color: #fff;
    }

    .main-nav-wrapper {
        background:#fff;
        /* padding-top: 8px; */
        color:inherit;
    }
    .main-content-wrapper {
        min-height:500px;
    }
    
    .header-phone-number {
        border-left:none;
        padding-top: 32px;
        font-weight:bold;
        width:inherit;
        color: #EB415E;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        border-top: 4px solid rgba(90, 188, 187, 0.28);
        color: inherit;
    }
    .navbar-default .navbar-nav > li > a {
        color:inherit;
        font-weight:bold;
    }
    .navbar-nav > li > a {
        border-top:4px solid transparent;
        padding: 30px 22px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color:inherit;
    }
    .search-form {
        padding-top: 27px;
        max-width: 168px;
    }

}
