<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pin</title>
    <meta name="viewport" content="width=device-width, initial-scal=1">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100|Open+Sans:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <header class="main-header">
        <div class="header-wrapper">
            <div class="logo">
                
                <a href="#"><img src=<%= require("./images/logo.png") %> /></a>
            </div>
            <div class="menu">
                
                <a href="#"><img src=<%= require("./images/menu.png") %> /></a>
            </div>
        </div>
    </header>
    <!-- Firts Scene -->
    <article id="slide00" class="slide">
        
        <img src=<%= require("./images/introduction-main-image.png") %>>
        <div class="wrapper">
            <h1 class="slide-title">Grid Hosting</h1>
            <p>We offfer the most reliable grid hosting on the market,</p>
            <p>    with a guarantee of 99.9999% uptime.</p>
            <a href="#" class="cta">Pricing &amp; Plans</a>
        </div>


    </article>
    <!-- Second Scene -->
    <article id="slide01" class="slide">
        <div class="pin-wrapper">
            <div class="img"></div>
            <div class="wrapper">

                <h1 class="slide-title">Resources</h1>
                <p class="slide-content">
                    Grid hosting frees up resources from a network of servers instead of just one.
                </p>
            </div>
        </div>
    </article>
    <!-- Third Scene -->
    <article id="slide02" class="slide">
        <div class="pin-wrapper">
            <div class="img"></div>
            <div class="wrapper">
                <h1 class="slide-title">Monitoring</h1>
                <p class="slide-content">
                    Top LXC technology, automated monitoring and daily backup.
                </p>
            </div>
        </div>
    </article>
    <!-- Forth Scene -->
    <article id="slide03" class="slide">
        <div class="pin-wrapper">
            <div class="img"></div>
            <div class="wrapper">
                <h1 class="slide-title">Performance</h1>
                <p class="slide-content">
                    Enhanced performance with NGINX, HTTP/2, PHP7 and free CDN.
                </p>
            </div>
        </div>
    </article>
    <!-- Fifth Scene -->
    <article id="slide04" class="slide">
        <div class="pin-wrapper">
            <div class="img"></div>
            <div class="wrapper">
                <h1 class="slide-title">security</h1>
                <p class="slide-content">
                    We wrote 800+ WAF rules to fix zero day vulnerabilities in 2015.
                </p>
            </div>
        </div>
    </article>
    <!-- Sixth Scene -->
    <article id="slide05" class="slide">
        
        <img src=<%= require("./images/people-main-image.png") %>>
        <div class="wrapper">
            <h1 class="slide-title">Service</h1>
            <p class="slide-content">
                Need help? Not a problem. Instant support is provided at no extra cost to all customers.
            </p>
        </div>
    </article>
    <footer class="footer-container">
            <h3>Responsive design</h3>
    </footer>
    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
</body>
</html>